
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.header {
    margin-bottom: 20px;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
}
.day {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}
.day input[type="checkbox"] {
    margin-top: 10px;
}
.note-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-weight: bold;
    font-size: 20px; /* Tăng kích thước dấu * */
    cursor: pointer;
}
#current-time {
    font-size: 24px;
    margin-bottom: 10px;
}
#today-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}